<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  
<!--
  <assembly name="TPFinal" />
  <assembly name="TPFinal.Model" />
  <namespace name="TPFinal" />
  <namespace name="TPFinal.Model" />

  
  -->
<alias alias="CampaignServiceImpl" type="TPFinal.Model.CampaignService, TPFinal" />
  
  <container>
    <register type="TPFinal.Model.CampaignService, TPFinal" mapTo="CampaignServiceImpl">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>
