<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="CampaignServiceImpl" type="TPFinal.Model.CampaignService, TPFinal" />
  <alias alias="DigitalSignageDbContextImpl" type="TPFinal.DAL.EntityFramework.DigitalSignageDbContext, TPFinal" />
  
  <container>
    <register type="TPFinal.Model.CampaignService, TPFinal" mapTo="CampaignServiceImpl">
      <lifetime type="singleton" />
    </register>
    <register type="TPFinal.DAL.EntityFramework.DigitalSignageDbContext, TPFinal" mapTo="DigitalSignageDbContextImpl">
      <constructor> </constructor>
      <lifetime type="singleton" />
    </register>
  </container>
</unity>
