<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="CampaignServiceImpl" type="TPFinal.Model.CampaignService, TPFinal" />
  <alias alias="TextBannerServiceImpl" type="TPFinal.Model.TextBannerService, TPFinal" />
  <alias alias="RssBannerServiceImpl" type="TPFinal.Model.RssBannerService, TPFinal" />
  <alias alias="BannerServiceImpl" type="TPFinal.Model.BannerService, TPFinal" />
  
  <container>

    <register type="TPFinal.Model.CampaignService, TPFinal" mapTo="CampaignServiceImpl">
      <lifetime type="singleton" />
    </register>
    <register type="TPFinal.Model.RssBannerService, TPFinal" mapTo="RssBannerServiceImpl">
      <lifetime type="singleton" />
    </register>
    <register type="TPFinal.Model.TextBannerService, TPFinal" mapTo="TextBannerServiceImpl">
      <lifetime type="singleton" />
    </register>
    <register type="TPFinal.Model.BannerService, TPFinal" mapTo="BannerServiceImpl">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>
